[submodule "themes/hugo-redlounge-jemsu"]
	path = themes/hugo-redlounge-jemsu
	url = git@github.com:jemus42/hugo-redlounge-jemsu.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
