[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/jemsugo"]
	path = themes/jemsugo
	url = git@github.com:jemus42/jemsugo.git
