/* Tweaks to beautifulhugo */

/* --- Tags --- */

.blog-tags {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 10px;
}

.blog-tags:before {
  content: "Tags: ";
}

.blog-tags a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:before {
  content: "#";
}

.blog-tags a:hover {
  border-radius: 2px;
  color: #008AFF;
  background-color: #CCC;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

/* --- Packages --- */

.blog-packages {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 10px;
}

.blog-packages:before {
  content: "Packages: ";
}

.blog-packages a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-packages a:before {
  content: "#";
}

.blog-packages a:hover {
  border-radius: 2px;
  color: #008AFF;
  background-color: #CCC;
}

.post-preview .blog-packages {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-packages {
    margin-top: 10px;
  }
}

/* --- Shows --- */

.blog-shows {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.blog-shows:before {
  content: "Shows: ";
}

.blog-shows a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-shows a:before {
  content: "#";
}

.blog-shows a:hover {
  border-radius: 2px;
  color: #008AFF;
  background-color: #CCC;
}

.post-preview .blog-shows {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-shows {
    margin-top: 10px;
  }
}

/* taxonomy list pages */

.intro-header .tags-heading h1 {
    font-size: 80px;
}

.intro-header .tags-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .tags-heading {
  text-align: center;
}

.intro-header .shows-heading h1 {
    font-size: 80px;
}

.intro-header .shows-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .shows-heading {
  text-align: center;
}
.intro-header .packages-heading h1 {
    font-size: 80px;
}

.intro-header .packages-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .packages-heading {
  text-align: center;
}
