.navigation {
  #dark-mode-toggle {
    margin-top: 6px;
    display: block;
    cursor: pointer;
    svg {
      fill: currentColor;
    }

    @media only screen and (max-width: 768px) {
      margin-left: 10px;
      margin-top: 3px;
    }
  }
  
  .separator {
    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

}
