/* Regular text */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

body {
  // font-family: $text-font-family;
  font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small {
  font-size: 60%;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: none;
}

// pagination numbers
.pagination li {
  padding: 0 5px;
}

// summary / details 
.content summary {
  border-radius: 1rem;
  padding-left: 1rem;
}

@mixin summary-dark {
  .content summary {
    background-color: $monokai-bg-dark;
  }
}

@mixin summary-light {
  .content summary {
    background-color: $monokai-bg-light;
  }
}

/* Links */
a {
  font-weight: 400;
}

// a:hover {
//   text-decoration: none;
//   border-bottom-width: 2px;
//   border-bottom-style: solid;
// }

/* inline-code */
h1 code,
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

code {
  hyphens: none;
}

@mixin inline-code-dark {
  code {
    background-color: $monokai-bg-dark;
  }
  
  a code {
    color: $link-color-dark;
  }
}

@mixin inline-code-light {
  code {
    background-color: $monokai-bg-light;
  }
  
  a code {
    color: $link-color;
  }
}

// video element

.content video {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 1rem;
}

// images
.content article figure img {
  border-radius: 1rem;
  object-fit: contain;
}

// littlefoot.js
// Override justification and make it readable in dark mode
div.littlefoot-footnote__wrapper > div > p {
  text-align: left;
  color: $fg-color;
}

@mixin littlefoot-dark {
  .littlefoot-footnote__button {
    color: $fg-color-dark;
  }
}

@mixin littlefoot-light {
  .littlefoot-footnote__button {
    // color: $fg-color;
    color: lighten($fg-color, 10%);
  }
}

// Addendum shortcode

.addendum h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.addendum p {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
}


div.addendum {
  border-left: 0.5rem;
  // border-right: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

@mixin addendum-light {
  div.addendum {
    border-left-color: $link-color;
    background-color: darken($bg-color, 4%); 
  }
}

@mixin addendum-dark {
  div.addendum {
    border-left-color: $link-color;
    background-color: darken($bg-color-dark, 4%); 
  }
}

// Maintenance notice (has .addendum class, so use id to overrule)
#maintenance {
  border: 0.5rem solid #FECE31;
}

// codecaption shortcode / code in <figure>
figure.code {
  text-align: left;
}


// Auto-linked headers

a > svg.anchor-symbol {
  color: transparent;
  margin-left: 1rem;
}


@mixin anchor-dark {
  a > svg.anchor-symbol {
    fill: $link-color-dark;
  } 
  a > svg.anchor-symbol:hover {
    fill: $link-color;
  }
}

@mixin anchor-light {
  a > svg.anchor-symbol {
    fill: $link-color;
  } 
  a > svg.anchor-symbol:hover {
    fill: $link-color-dark;
  }
}


// Commento ///
@mixin commento-dark {
  .commento-root .commento-card {
    background-color: $bg-color-dark;
  }
  
  .commento-root *,
  .commento-root .commento-card .commento-body p,
  .commento-root .commento-card .commento-name,
  .commento-root .commento-markdown-button,
  .commento-root .commento-anonymous-checkbox-container input[type=checkbox]+label,
  .commento-root .commento-mod-tools::before,
  .commento-root .commento-logged-container .commento-logged-in-as .commento-name,
  .commento-root .commento-footer .commento-logo-container .commento-logo-text,
  .commento-root .commento-logged-container .commento-profile-button {
    color: $fg-color-dark;
  }
  
  .commento-root a {
    color: $link-color-dark;
  }
  
  .commento-root .commento-card .commento-option-remove {
    background: $link-color-dark;
  }
  
}


// Code chunks //
// Tried something similiar to https://regisphilibert.com/blog/2017/04/hugo-cheat-sheet-go-template-translator/
// But I think the tabulr display here messes with the positioning maybe?

// .highlight code::before {
//   content: attr(data-lang);
//   position: absolute;
//   font-size: 75%;
//   display: block;
//   //background: #f5f9f9;
//   //bottom: calc(100% - 1px);
//   //color: #999;
//   //right: 0;
//   //padding: .2em .5em;
//   // border-top-left-radius: 5px;
//   // border-top-right-radius: 5px;
//   // border: 1px solid #ece9e2;
//   z-index: 3;
// }


// Scroll to top button
#totop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 1rem; /* Rounded corners */
  //font-size: 18px; /* Increase font size */
  font-family: $heading-font-family;
}

@mixin scrolltop-light {
  #totop {
    background-color: $alt-bg-color; /* Set a background color */
  }
  #totop:hover {
    color: $link-color; /* Add a dark-grey background on hover */
  }
}

@mixin scrolltop-dark {
  #totop {
    background-color: $alt-bg-color-dark; /* Set a background color */
  }
  #totop:hover {
    color: $link-color-dark; /* Add a dark-grey background on hover */
  }
}
