h1>small,
h2>small,
h3>small,
h4>small {
  font-size: 60%;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: none;
}

// comment count
.comment-count {
  margin-left: 15px;
}

// pagination numbers
.pagination li {
  padding: 0 5px;
}

// summary / details 
.content summary {
  border-radius: 1rem;
  padding-left: 1rem;
}

@mixin summary-dark {
  .content summary {
    background-color: $monokai-bg-dark;
  }
}

@mixin summary-light {
  .content summary {
    background-color: $monokai-bg-light;
  }
}

/* inline-code */
h1 code,
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

code {
  hyphens: none;
}

@mixin inline-code-dark {
  code {
    background-color: $monokai-bg-dark;
  }

  a code {
    color: $link-color-dark;
  }
}

@mixin inline-code-light {
  code {
    background-color: $monokai-bg-light;
  }

  a code {
    color: $link-color;
  }
}

// images
.content .featured-image {
  text-align: center;
}

.featured-image img,
.content article figure img {
  border-radius: 1rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
