/* Regular text */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

body {
  // font-family: $text-font-family;
  font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small {
  font-size: 60%;
}

// pagination numbers
.pagination li {
  padding: 0 5px;
}

// summary / details 
.content summary {
  border-radius: 1rem;
  padding-left: 1rem;
}

@mixin summary-dark {
  .content summary {
    background-color: $monokai-bg-dark;
  }
}

@mixin summary-light {
  .content summary {
    background-color: $monokai-bg-light;
  }
}

/* Links */
a {
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

/* inline-code */
h1 code,
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

code {
  hyphens: none;
}

@mixin inline-code-dark {
  code {
    background-color: $monokai-bg-dark;
  }
  
  a code {
    color: $link-color-dark;
  }
}

@mixin inline-code-light {
  code {
    background-color: $monokai-bg-light;
  }
  
  a code {
    color: $link-color;
  }
}

// video element

.content video {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 1rem;
}

// images
.content article figure img {
  border-radius: 1rem;
  object-fit: contain;
}

// littlefoot.js
// Override justification and make it readable in dark mode
div.littlefoot-footnote__wrapper > div > p {
  text-align: left;
  color: $fg-color;
}

@mixin littlefoot-dark {
  .littlefoot-footnote__button {
    color: $fg-color-dark;
  }
}

@mixin littlefoot-light {
  .littlefoot-footnote__button {
    // color: $fg-color;
    color: lighten($fg-color, 10%);
  }
}

// Addendum shortcode

.addendum h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.addendum p {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
}


div.addendum {
  border-left: 0.5rem;
  // border-right: 4px;
  border-left-style: solid;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

@mixin addendum-light {
  div.addendum {
    border-left-color: $link-color;
    background-color: darken($bg-color, 4%); 
  }
}

@mixin addendum-dark {
  div.addendum {
    border-left-color: $link-color;
    background-color: darken($bg-color-dark, 4%); 
  }
}

// Maintenance notice (has .addendum class, so use id to overrule)
#maintenance {
  border: 0.5rem solid #FECE31;
}

// codecaption shortcode / code in <figure>
figure.code {
  text-align: left;
}
