// Sounds nice in principle but gets kind of annoying
// html {
//   scroll-behavior: smooth;
// }

/* Regular text */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

body,
a {
  // font-family: $text-font-family;
  font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small {
  font-size: 60%;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: none;
}

// comment count
.comment-count {
  margin-left: 15px;
}

// pagination numbers
.pagination li {
  padding: 0 5px;
}

// summary / details 
.content summary {
  border-radius: 1rem;
  padding-left: 1rem;
}

@mixin summary-dark {
  .content summary {
    background-color: $monokai-bg-dark;
  }
}

@mixin summary-light {
  .content summary {
    background-color: $monokai-bg-light;
  }
}

/* inline-code */
h1 code,
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}

code {
  hyphens: none;
}

@mixin inline-code-dark {
  code {
    background-color: $monokai-bg-dark;
  }

  a code {
    color: $link-color-dark;
  }
}

@mixin inline-code-light {
  code {
    background-color: $monokai-bg-light;
  }

  a code {
    color: $link-color;
  }
}

// images
.content .featured-image {
  text-align: center;
}

.featured-image img,
.content article figure img {
  border-radius: 1rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

// Auto-linked headers

// a>svg.anchor-symbol {
//   color: transparent;
//   margin-left: 1rem;
// }


@mixin anchor-dark {
  a>svg.anchor-symbol {
    // fill: $link-color-dark;
  }

  a>svg.anchor-symbol:hover {
    // fill: $link-color;
  }
}

@mixin anchor-light {
  a>svg.anchor-symbol {
    fill: $link-color;
  }

  a>svg.anchor-symbol:hover {
    fill: $link-color-dark;
  }
}

// Scroll to top button
#totop {
  //display: none; /* Hidden by default */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 1;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
  border-radius: 1rem;
  /* Rounded corners */
  //font-size: 18px; /* Increase font size */
  font-family: $font-family;
}

#totop:hover {
  transition: visibility 0s, opacity 0.5s linear;
}

@mixin scrolltop-light {
  #totop {
    background-color: $alt-bg-color;
    /* Set a background color */
  }

  #totop:hover {
    color: $link-color;
    /* Add a dark-grey background on hover */
  }
}

@mixin scrolltop-dark {
  #totop {
    background-color: $alt-bg-color-dark;
    /* Set a background color */
  }

  #totop:hover {
    color: $link-color-dark;
    /* Add a dark-grey background on hover */
  }
}
