// Experimental TOC integration

// For "on top of posts" TOC

// Lower margins on top
#toc>header {
  margin: 0;
}

#toc>header>h4 {
  margin: 2rem 0;
}

// Remove list dots and slightly reduced padding
#toc ul {
  padding-left: 3rem;
  list-style-type: none;
}
