@import "variables";
@import "content";
@import "monokai";
@import "monokailight";
@import "mathjax";
@import "tables";


/* Turn a dark plot into a light plot (for testing purposes) */
@mixin color-inv {
  figure > a > img {
    filter: invert(1);
  }
}

/* Dark Theme */
body.colorscheme-dark {
  @include monokai-dark();
  @include math-dark();
  @include table-dark();
  @include inline-code-dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include monokai-dark();
    @include math-dark();
    @include table-dark();
    @include inline-code-dark();
  }
}

/* Light theme */
body.colorscheme-light {
  @include monokai-light();
  @include math-light();
  @include color-inv()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: light) {
    @include monokai-light();
    @include math-light();
    @include color-inv();
  }
}
