// Addendum shortcode
article .note-box > h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-left: 2rem;
  // text-align: center;
  // font-variant: small-caps;
}

article .note-box > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  // text-align: center;
}

div.note-box {
  border-left: 0.5rem;
  border-left-style: solid;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  div.note-box {
    width: 100%;
  }
}

@mixin notebox-light {
  div.note-box {
    background-color: darken($bg-color, 4%);
  }
}

@mixin notebox-dark {
  div.note-box {
    background-color: darken($bg-color-dark, 4%);
  }
}

div.addendum {
  border-left-color: $link-color;
}
div.warning {
  border-left-color: #FECE31;
}
div.problem {
  border-left-color: rgb(222, 25, 25);
}

// Maintenance notice (has .addendum class, so use id to overrule)
div.maintenance {
  border: 0.5rem solid #FECE31;
}

// codecaption shortcode / code in <figure>
figure.code {
  text-align: left;
}

// gh //
.gh-repo a {
  font-family: $code-font-family;
}


// pkg //
.rpkg {
  white-space: nowrap;
}

// package tooltip
.rpkg a {
  font-family: $code-font-family;
}

.tooltip {
  font-family: $heading-font-family;
  visibility: hidden;
  width: auto;
  background-color: $alt-bg-color-dark;
  color: $fg-color-dark;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 3;
}

.rpkg:hover .tooltip,
.rpkg:focus-within .tooltip,
.rpkg:focus .tooltip,
.rpkg:active .tooltip {
  visibility: visible;
}

// the inline pkg thing
.rpkg i {
  font-size: 80%;
  // position: relative;
  // left: 2px;
}

// video, videofig //
// video element
.content video {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 1rem;
}
