<!-- Add littlefoot: https://goblindegook.github.io/littlefoot/ -->

<!--
<script src="https://unpkg.com/littlefoot/dist/littlefoot.min.js" type="application/javascript" integrity="sha384-6n4SRUZOu59pxwF3gSuMTy7BX02t7xr28Ws7lMqPjBg/bJiq9NyYqQb/BySObfzB" crossorigin="anonymous">
</script>
-->
<script src="{{ "js/littlefoot.min.js" | absURL }}" type="application/javascript" integrity="sha384-6n4SRUZOu59pxwF3gSuMTy7BX02t7xr28Ws7lMqPjBg/bJiq9NyYqQb/BySObfzB" crossorigin="anonymous">
</script>

<script type="application/javascript">
   littlefoot.default()
</script>

<!--
<script
 charset="UTF-8"
 src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/r.min.js">
</script>
-->

<script src="{{ "js/prism.js" | absURL }}" type="application/javascript"></script>

<!-- Also add custom R highlighting via
   http://bl.ocks.org/mathematicalcoffee/raw/5655496/
-->
<script src="{{ "js/prism.r.js" | absURL }}" type="application/javascript"></script>