<!-- See maintenance.R -->

<link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">

<!-- unpkg cdn is often pretty slow, so a local version it is -->
<link href="{{ "css/littlefoot.css" | absURL }}" rel="stylesheet">

<!-- prims.js -->
<link href="{{ "css/prism.min.css" | absURL }}" rel="stylesheet">

<!-- See http://bl.ocks.org/mathematicalcoffee/5655496 -->
<link href="{{ "css/prism.okaidia.css" | absURL }}" rel="stylesheet">

<!-- Load at the end: custom CSS -->
<link href="{{ "css/jemsu.css" | absURL }}" rel="stylesheet">
