<tr>
  <td>
    <code class="rpkg pkg-title" id="{{ .name }}">{{ printf "{%s}" .name }}</code>
  </td>
  <td>
    {{ with .title }} 
      {{ . }}
    {{ end }}
  </td>
  <td>
    {{ with .version }} 
      {{ . }}
    {{ end }}
  </td>
  <td>
    {{ with .maintainer }} 
      {{ . }}
    {{ end }}
  </td>
  <td>
    {{ with .url_cran }} 
      <a title = "CRAN" href = "{{ . }}">CRAN</a>
    {{ end }}
  </td>
  <td>
    {{ with .url_git }}
      <a title = "Source Repository" href = "{{ . }}">Source</a>
    {{ end }}
  </td>
  <td>
    {{ with .url_pkgdown | default .url_other }}
      <a title = "Website" href = "{{ . }}">Website</a>
    {{ end }}
  </td>
</tr>
