{{ if .IsNamedParams }}
  <video
    {{ with .Get "width" }} width="{{.}}" {{ end }} 
    {{ with .Get "height" }} height="{{.}}" {{ end }}
    {{ if .Get "loop" | eq true }} loop {{ end }}
    {{ if .Get "autoplay" | eq true }} autoplay {{ end }}
    {{ if .Get "loop" | ne false }} muted {{ end }}
    {{ if .Get "controls" | ne false }} controls {{ end }}
  >
    {{ with .Get "mp4" }}<source src="{{.}}" type="video/mp4">{{ end }}
    {{ with .Get "ogg" }}<source src="{{.}}" type="video/ogg">{{ end }}
    {{ with .Get "webm" }}<source src="{{.}}" type="video/webm">{{ end }}
    Your browser does not support the video tag.
  </video>
{{ else }}
  <video muted controls>
    <source src="{{ .Get 0 }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
{{ end }}
